<html>
<head>
    <meta charset="UTF-8">
    <title>Números em Extenso - Uso</title>
</head>
<body>
    <h1>Números em Extenso</h1>
    <h3>ver. {{ver}}</h3>

    <p>Conversão de números compreendidos entre [-{{maxNum}}, {{maxNum}}] para
        forma extensa em português.
    </p>

    <br>

    <h2>Uso:</h2>
    <p><strong>{{request.url}}num</strong></p>
    <p>Retorna: JSON {'extenso': string}</p>

    <br>

    <h2>Exemplo:</h2>
    <p><strong>{{request.url}}-15551</strong></p>
    <p>{'extenso': 'menos quinze mil quinhentos e cinquenta e um'}</p>
</body>
</html>
